* {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: #0e0e0e;
    background-color: #f3f3f3;
}

h1 {
    margin: 1em auto;
    text-align: center;
}

p {
    margin: 1em 1rem;
    text-align: left;
}
  
form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
}

fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 1px solid #3b3b4f;
  }
  
  fieldset:last-of-type {
    border-bottom: none;
  }

.inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}

label {
    display: block;
    margin: 0.5rem 0;
}

